---
import ItemLayout from "@/layouts/ItemLayout.astro";
import { compareFrontmatterDateDesc } from "@/lib/misc";
import type { MDXInstance } from "astro";

let allPosts: MDXInstance<Frontmatter>[] = [];
try {
  allPosts = await Astro.glob<Frontmatter>("./*.mdx");
} catch (err) {
  // Astro throws when no posts, so we ignore
}
---

<ItemLayout title="Posts" description="My most recent blog posts">
  <ul>
    {
      allPosts
        .filter((p) => p.frontmatter?.draft !== true)
        .sort(compareFrontmatterDateDesc)
        .map((page) => (
          <li>
            <div>
              {page.frontmatter?.emoji && (
                <span class="mr-2">{page.frontmatter.emoji}</span>
              )}
              <a href={page.url}>{page.frontmatter.title}</a>
            </div>
            {page.frontmatter?.description && (
              <div class="text-gray-500">{page.frontmatter.description}</div>
            )}
            {page.frontmatter?.date && (
              <time
                class="text-gray-500 text-sm"
                datetime={page.frontmatter.date}
              >
                {page.frontmatter.date}
              </time>
            )}
          </li>
        ))
    }
    <li>
      See more posts on <a href="https://medium.com/@markmiro">📝 Medium</a>.
    </li>
  </ul>
</ItemLayout>
