---
import ItemLayout from "./ItemLayout.astro";
import ProjectImage from "@/components/ProjectImage.astro";
import { Icon } from "astro-icon";
import _ from "lodash";
import { extractLastUrlPathItem } from "@/lib/misc";
import { s3File } from "@/lib/s3";
import ProjectPagination from "@/components/ProjectPagination.astro";

export interface Props {
  title: string;
  description: string;
}

const { frontmatter } = Astro.props;
const title = Astro.props.title || frontmatter.title || "Untitled";
const description = Astro.props.description || frontmatter.description || "";
const slug = extractLastUrlPathItem(Astro.url);
const image = s3File(`figma-export/project-${slug}-1x.png`);
---

<ItemLayout title={title} description={description} image={image}>
  <div class="not-prose group">
    <a href={frontmatter.primaryLink}>
      <ProjectImage slug={slug} />
    </a>
    <div class="flex flex-wrap items-center gap-3 text-sm mt-2 text-gray-500">
      {
        frontmatter.primaryLink && (
          <a
            href={frontmatter.primaryLink}
            target="_blank"
            class="w-full sm:w-auto text-center shadow-md bg-black text-white group-hover:bg-neutral-800 hover:bg-neutral-800 rounded-lg px-4 py-2 text-lg"
          >
            {frontmatter.primaryLinkText} ↗
          </a>
        )
      }
      {
        frontmatter.source && (
          <a
            href={frontmatter.source}
            target="_blank"
            class="hover:text-gray-700 underline flex items-center gap-1"
          >
            <Icon name="github" class="w-3" /> Project Source
          </a>
        )
      }
      <span class="flex-1 border-b" />
      {frontmatter.date && <div>{frontmatter.date}</div>}
    </div>
  </div>
  <slot />
  <ProjectPagination slot="end" />
</ItemLayout>
