---
import PostLayout from "./PostLayout.astro";
import ProjectImage from "@components/ProjectImage.astro";
import { Icon } from "astro-icon";
import _ from "lodash";
import { extractLastUrlPathItem } from "@lib/extractLastUrlPathItem";
const { frontmatter, title } = Astro.props;
const title2 = title || frontmatter.title || "Untitled";

const slug = extractLastUrlPathItem(Astro.url);
---

<PostLayout title={title2}>
  <div class="not-prose">
    <ProjectImage slug={slug} />
    <div class="flex flex-wrap items-center gap-3 text-sm mt-2 text-gray-500">
      {
        frontmatter.primaryLink && (
          <a
            href={frontmatter.primaryLink}
            target="_blank"
            class="shadow-md bg-black text-white hover:bg-neutral-800 rounded-lg px-3 py-1 flex items-center gap-2"
          >
            {frontmatter.primaryLinkText} ↗
          </a>
        )
      }
      {
        frontmatter.source && (
          <a
            href={frontmatter.source}
            target="_blank"
            class="hover:text-gray-700 underline flex items-center gap-1"
          >
            <Icon name="github" class="w-3" /> Project Source
          </a>
        )
      }
      <div class="grow"></div>
      {frontmatter.date && <div>{frontmatter.date}</div>}
    </div>
  </div>
  <slot />
</PostLayout>
